.container {
  width: 800px;
  margin: 50px auto;
}

.satu,
.dua {
  width: 200px;
  height: 200px;
  margin-left: 50px;
  border: solid;
  border-image-width: 20px;
  border-image-slice: 20 22;
  border-image-repeat: round;
}

.satu {
  background-color: green;
  border-image-source: url("hearts.png");
  box-shadow: 25px 25px;
  border-image-outset: 20px;
  margin-bottom: 50px;
}

.dua {
  background-color: blue;
  border-image-source: url("border1.png");
  border-image-slice: 33%;
  border-image-outset: 15px;
  box-shadow: 10px 10px 15px;
}
